html {
  background: black;
}

* {
  touch-action: manipulation;
}

.arrow-key-interface {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  z-index: 100;
}

.arrow-key-interface button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 24px;
  cursor: pointer;
  background: black;
  border: solid grey 1px;
  color: white
}